
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf')  format('truetype'), url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
