
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy-ExtraBold.otf')  format('opentype'),
	     url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf')  format('truetype'), url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
